.header-navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.Logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 24px;
}

.header-navbar--links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

