.header-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 24px;
}

.header-navbar--links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.header-navbar--menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.show-for-mobile {
    display: none;
}


@media only screen and (max-width:1080px) {
  .show-for-mobile {
    display: block;
   }
   .hide-for-mobile {
      display: none;
   }
}


@media only screen and (max-width:768px) {
    .show-for-mobile {
      display: block;
    }
    .hide-for-mobile {
      display: none;
    }
}

