* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  background-color: #242DFE;
}

body {
  padding: 20px;
}

.background {
  padding: 40px 130px;
  background: linear-gradient(180deg, #FFFFFF 26.1%, #F2F5FA 110.16%);
}

.background-business {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.header-hero-section {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
}

.header-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 29px;
}

.hero-card--leftSide {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 690px;
}

.card-leftside--title {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  color: #000;
}

.card-leftside--description {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #595959;
}


.buttonCTAs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.secondCTA {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 63px;
  padding: 18px 24px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: white;
  cursor: pointer;
}

.button-play--text {
    color: #595959;
    margin-left: 12px;
}

.ratings {
  display: flex;
  flex-direction: row;
}

.starIcon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4px;
}

.fiveOverFive {
  margin-left: 14px;
}

.alternative {
  margin-left: 4px;
}

.hero-map {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}


.header-hero--logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.users {
  float: right;
  position: absolute;
}

.user1, .user2, .user3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  position: relative;
  box-shadow: 4px 9px 95px 0px rgba(36,45,254,0.48);
  -webkit-box-shadow: 4px 9px 95px 0px rgba(36,45,254,0.48);
  -moz-box-shadow: 4px 9px 95px 0px rgba(36,45,254,0.48);
}
.user1 {
  width: 101px;
  height: 128px;
  top: -50px;
  right: -20px;
  transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
}
.user2 {
  width: 149px;
  height: 128px;
  top: 105px;
  right: -130px;
  transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
}
.user3 {
  width: 133px;
  height: 128px;
  top: -50px;
  right: 140px;
  transform: matrix(0.98, 0.21, -0.21, 0.98, 0, 0);
}

/* Dashboard style */

.powerful-dashboard--wrapper {
  display: flex;
  flex-direction: row;
  gap: 66px;
  margin: 80px 130px;
}

.powerful-dashboard {
  width: 534px;
}

/* Business */

.business {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;
}

.business-wrapper {
  background-color: #242DFE;
  padding: 36px;
}

/* Business Pricing */

.business-pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 112px;
}


/* Tablet */

@media only screen and (max-width: 1280px) {
  .background {
    padding: 40px;
  }
  .header-hero {
    flex-direction: column-reverse;
  }
  .powerful-dashboard--wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }

  .business-pricing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1080px) {
  .powerful-dashboard--wrapper {
    flex-direction: column-reverse;
  }
  .powerful-dashboard {
    width: 100%;
  }
}

@media only screen and (max-width:768px) {
  body {
    padding: 10px;
  }
  .background {
    padding: 20px;
  }
  .card-leftside--title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .buttonCTAs {
    flex-direction: column;
  }
  .secondCTA {
    width: 100%;
  }
  .ratings {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .mapImage {
    width: 100%;
  }
  .header-hero--logo {
    max-width: 498px;
    margin: auto;
  }
  .powerful-dashboard--wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* Business */
  .business {
    flex-wrap: wrap;
  }

  /* Pricing */

  .business-pricing {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
}

/* Mobile */

@media only screen and (max-width:601px) {
 
}

@media only screen and (max-width: 480px) {
  .user1 {
    width: fit-content;
    padding: 8px;
    top: 5px;
  }
  .user2 {
    width: fit-content;
    padding: 8px;
    top: 65px;
    right: -95px;
  }
  .user3 {
    width: fit-content;
    padding: 8px;
    right: 95px;
  }
 
}